body { 
    font-family: 'power_red_and_greenregular', Arial, sans-serif;
	font-size: 33px;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

tr {
  border-bottom: 1px solid #ddd;
}

/*img {
    display: block;
    max-width:128px;
    max-height:128px;
    width: auto;
    height: 128px;
	image-rendering: crisp-edges;
}*/

td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    text-align: center;
	image-align: center;
}

td:nth-child(2) {
	width: auto;
    height: 128px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}

.type {
	display: block;
	margin-left: auto;
	margin-right: auto;
}