@font-face {
    font-family: Power Green Regular;
    src: url("@{plChildRoot}/PKMNEM.ttf") format('truetype');
    font-style: normal;
}

body { 
    font-family: 'Power Green Regular', Arial, sans-serif;
}
