@font-face {
    font-family: Power Green Regular;
    src: url("@{plChildRoot}/PKMNEM.ttf") format('truetype');
    font-style: normal;
}

body { 
    font-family: 'Power Green Regular', Arial, sans-serif;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

tr:hover {background-color: #D6EEEE;}

tr {
  border-bottom: 1px solid #ddd;
}
